<fieldset id="{{id}}">
  {% if label %}
  <legend>{{label}}</legend>
  {% endif %}

  {% for choice in choices %}
  <div class="os-check-radio-element">
  <input
    type="{{type}}"
    id="{{ choice.value }}-{{ loop.index }}"
    {{(choice.value ? "value=\"#{choice.value}\"" : null) | raw}}
    {{(name ? "name=\"#{name}\"" : null) | raw}}
    {{ choice.selected ? "checked" : null}}
  />
  
  
  <label for="{{ choice.value }}-{{ loop.index }}">{{ choice.text }}</label>
  </div>
  {% endfor %}
  {# {% if title %}
  <input type="hidden" name="label[{{name}}]" value="{{title}}" />
  {% endif %} #}
</fieldset>