<fieldset id="{{id}}">
  {% if title %}
  <legend>{{title}}</legend>
  {% endif %}

  {% for choice in choices %}
  <label>
  <input
    type="{{type}}"
    {{(choice.value ? "value=\"#{choice.value}\"" : null) | raw}}
    {{(name ? "name=\"#{name}\"" : null) | raw}}
    {{ checked ? "checked" : null}}
  />
  {{ choice.label }}
  </label>
  {% endfor %}
  {# {% if title %}
  <input type="hidden" name="label[{{name}}]" value="{{title}}" />
  {% endif %} #}
</fieldset>