{% extends '/page/template.html.twig' %}
{% block content %}
<h1>Contact form</h1>
{{ include('/partial/step_navigation.html.twig') }}
<form action="{{action}}" method="POST">
{{ dump(session.flash.message) }}
{{ form | raw }}
<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
<button type="submit" class="os-button center">{{ button_label }}</button>
</form>
{% endblock %}