{% extends '/page/template.html.twig' %}
{% block content %}
<h1>確認画面</h1>
{{ include('/partial/step_navigation.html.twig') }}
<pre>
{{ dump(data) }}
{{ dump(form_settings) }}
</pre>
<form method="POST" action="/send">
<table>
  <tbody>
    {% for key, item in data %}
    <tr>
      <th>{{ key }}</th>
      <td>{{ item }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% for key, item in data %}
<input type="hidden" name="{{ key }}" value="{{ item }}" />
{% endfor %}
<button type="submit">送信</button>
</form>
{% endblock %}