{% extends '/page/template.html.twig' %}
{% block content %}
<h1>確認画面</h1>
{{ include('/partial/step_navigation.html.twig') }}
{# <pre>
{{ dump(data) }}
{{ dump(form_settings) }}
</pre> #}
<form method="POST" action="/send">
<table>
  <tbody>
    {% for key, item in data %}
    <tr>
      {% if labels %}
      <th>{{ labels[key] }}</th>
      {% else %}
      <th>{{ key }}</th>
      {% endif %}
      {% if item.error %}
      <td>
        {{ item.value }}
        <p class="error-message">{{ item.error | raw }}</p>
      </td>
      {% else %}
      <td>{{ item | raw }}</td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% for key, item in data %}
<input type="hidden" name="{{ key }}" value="{{ item }}" />
{% endfor %}

{% for key, label in labels %}
<input type="hidden" name="label[{{key}}]" value="{{ label }}" />
{% endfor %}

<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
{% if has_error %}
{# {{ dump(has_error )}} #}
<button type="button" onclick="history.back()">Back</button>
{% else %}
<button type="button" onclick="history.back()">Back</button>
<button type="submit">送信</button>
{% endif %}
</form>
{% endblock %}